.content{
    position: relative;
    grid-area: ct;
    display: grid;
    grid-template-areas:
    "a a"
    "b b"
    "c c";
    grid-row-gap: 2vh;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 10px;
}


.changePage{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.89);
    height: 13px;
    width: 13px;
    border-radius: 3px;
    transform: rotate(45deg);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    top: 50%;
    transition: 0.3s;
}


.changePage:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.previousPage{
    left: 3%;
}

.nextPage{
    right: 3%;
}


.card{
    display: flex;
    flex-direction: column;
    width: 32vw;
    min-height: 180px;
    padding: 10px;
    line-height: 15px;
    border-radius: 18px;
    border-style: hidden;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* #two{
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255) ) ,
        url(images/Demons-souls.png);
        background-size: 150% 100%;
} */



.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: zoom-in;
}

.card:active{
    transform: scale(1.3);
    z-index: 1;
}


.category{
    font-size: 0.8em;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 4px;
    /* margin-left: -4px; */
    width: fit-content;
}


#world{
    color: blue;
}


#games{
    color:tomato;
}


#science{
    color:green;
}


#cinema{
    color:red;
}


#tech{
    color:orange;
}


.date{
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 0.7em;
    color: rgba(0,0,0,0.5);
}


.postTitle{
    margin-left: -1px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 22px;
}


.postContent{
    margin-top: 1px;
    font-style: italic;
    font-size: 1em;
    line-height: 18px;
}


.cntReading{
    margin-top: auto;
    width: fit-content;
    /* border: 2px solid red; */
    background-color: rgba(128, 128, 128, 0.199);
    color: black;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    /* align-self: flex-end; */
}

