.footer{
    position: relative;
    grid-area: ft;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px;
}


/* logo -------------------------------------------------------------- logo */
.logo{
    width: 4vw;
    margin: 5px;
    transition: 0.3s;
}


.logo:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
    transform:scale(1.1)
}