@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap);
@import "header.css";
@import "content.css";
@import "footer.css";

body{
    font-family: 'Mali', cursive;
    /* letter-spacing: 1px; */
}



#pageLayout{
    /* background-color: rgba(175, 238, 238, 0.562); */
    background-image: url(images/797214.jpg);
    background-size: cover;
    border-radius: 50px;
    display: grid;
    /* margin-top: -30px; */
    /* border: 2px solid red; */
    grid-template-areas:
    "hd hd"
    "ct ct"
    "ft ft";
    grid-template-rows: minmax(130px auto) 1fr 50px;
    height: auto;
}