body{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;
}


#pageLayout{
    display: grid;
    /*border: 2px solid grey;*/
    grid-template-areas:
    "hd hd"
    "ct ct"
    "ft ft";
    grid-template-rows: 2fr 10fr 1fr;
    height: 100vh;
}


/*.box{
    border: 2px solid red;
}*/


.header{
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


button{
    display: flex;
    height: 25px;
    flex-direction: column;
    align-self:center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


#content{
    grid-area: ct;
    display: grid;
    grid-template-areas:
    "a a"
    "b b"
    "c c";
    grid-gap: 2%;
    justify-content: space-evenly;
}


#footer{
    grid-area: ft;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    
}


.card{
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding: 30px;
    line-height: 10px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}


.category{
    color: green;
    font-size: 0.8em;
}


.date{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.7em;
}


.postTitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5em;
}


.postContent{
    margin-top: 5px;
    font-style: italic;
    font-size: 1em;
}
.logo{
    width: 4vw;
    margin: 5px;  
}
.logo:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
    transition: 0.3s;
}