#pageLayout{
    display: grid;
    border: 2px solid grey;
    grid-template-areas:
    "hd hd"
    "ct ct"
    "ft ft";
}

.box{
    border: 1px solid red;
}

#header{
    grid-area: hd;
    display: flex;
    justify-content: center;
}

#content{
    grid-area: ct;
    display: grid;
    grid-template-areas:
    "a a"
    "b b"
    "c c";
}

#footer{
    grid-area: ft;
    display: flex;
    justify-content: center;
    
}